.bg-avc {
    background-color: #ec6669;
    background-color: var(--bg-avc, #ec6669);
  }
  
  .bg-agp {
    background-color: #95C11F;
    background-color: var(--bg-agp, #95C11F);
  }
  
  .bg-avr {
    background-color: #57B9C3;
    background-color: var(--bg-avr, #57B9C3);
  }
  
  .bg-collab {
    background-color: #EA6743;
    background-color: var(--bg-collab, #EA6743);
  }
  
  .bg-cgp {
    background-color: #59b891;
    background-color: var(--bg-cgp, #59b891);
  }
