<input [(ngModel)]="name" type="text"> 
<p>Testing</p>
{{name}}

<p [ngStyle]="{'color': setTestColor('blue')}">another test</p>

<mat-form-field>
  <mat-select [(ngModel)]="mySelect">
    <mat-option value="red">Red</mat-option>
    <mat-option value="green">Green</mat-option>
    <mat-option value="blue">Blue</mat-option>
  </mat-select>
</mat-form-field>
<br>
<button mat-button type="submit" (click)="display(mySelect)">Change Color</button>

<br><br>
<span #tref>I am span</span>
<br><br>
<button (click)="footerC('green')">Change Footer</button>
<!-- 

<button (click)="display({{selectedColor}})"></button>
<p>You selected: {{selectedColor}}</p>

-->